* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  /*-----> BASE <-----*/
  .base header {
    background-color: var(--backgroundH);
    color: var(--fonteH);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .base a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.5s;
  }
  
  .base a:hover {
    text-decoration-color: var(--fonteH);
  }
  
  .base h1 a {
    color: var(--fonteH);
  }
  
  .base header nav li {
    display: inline;
    margin-right: 20px;
  }
  
  .base header nav li a {
    color: var(--fonteH);
  }
  
  /* Flash */
  .base .flash {
    background-color: var(--cor2);
  }
  
  .base .flash .INFO {
    background-color: var(--info);
  
  .base .flash .AVISO {
    background-color: var(--aviso);
  }
  
  .base .flash .ERRO {
    background-color: var(--erro);
  }
  
  .base .flash .SUCESSO {
    background-color: var(--sucesso);
  }
  
  .backgrund-map{
    background: url(../img/gr);
  }