.buscar {
    background-color: #f9f9f9;
    padding: 20px;
  }

  .buscar h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }

  .buscar ul {
    list-style-type: none;
    padding-left: 0;
  }

  .usuario {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    transition: background-color 0.3s;
  }

  .usuario:hover {
    background-color: #f0f0f0;
  }

  .usuario a {
    text-decoration: none;
    color: #007bff;
  }

  .usuario ul {
    list-style-type: none;
    padding-left: 0;
  }

  .usuario li {
    font-size: 18px;
    padding: 5px 0;
    display: inline;
    margin-right: 20px;
  }

  .usuario li:first-child {
    font-weight: bold;
  }
