.btn-template{
    padding: 0.75rem 4rem;
}

.btn-template-3{
    width: 19.5rem;
    height: 3rem;
    border: 1px solid var(--raphosedy-700);
    box-shadow: var(--shadow-box);
}

.btn-template-3:hover{
    box-shadow: var(--shadow-box-hover);
}

.btn-forest{
    border: 2px solid var(--forest-200);
}

.btn-forest:hover{
    background-color: var(--forest-200);
}

.btn-secundary{
    border: 2px solid var(--secundary-600);
}

.btn-secundary:hover{
    background-color: var(--secundary-600);
}

.background-login{
    height: 100%;
    background: rgba(188, 188, 188, 0.25);
}

.card-login{
    border: 1px solid var(--raphosedy-600);
    box-shadow: var(--shadow-box);
    border-radius: 0.75rem;
}

.input-eco{
    border-radius: 10px;
    border: 1px solid var(--raphosedy-600);
    box-shadow: var(--shadow-input);
    width: 280px;
    height: 38px;
}

.btn-stretch{  
    border: 1px solid var(--raphosedy-700);
    box-shadow: var(--shadow-box);
}

.btn-stretch:hover{  
    border: 1px solid var(--raphosedy-700);
    box-shadow: var(--shadow-box-hover);
}