.title-ecoconsumo{
  text-indent: 21rem;
}

.sec-perfil-info{
  height: 14rem;
  border-top: 1px solid rgba(188, 188, 188, 0.25);
}

.perfil-ecoconsumo{
  border: solid 5px var(--raphosedy-600);
  transform: translateY(-40%);
  top: 50%;
}

.mapa{
  background: url(../imgs/mapa.svg) no-repeat;
  background-size: contain;
  height: 25.125rem;
}

.perfil-arrow-down{
  font-size: 36px;
}

.card-meta, .btn-crud-perfil, .perfil-entregas, .entregas{
  border: 1px solid var(--forest-700);
}

.bottom-700{
  border-bottom: 1px solid var(--forest-700);
}

.col-flex-2{
  flex: 40% 1 0;
}

.perfil-entregas{
  margin-top: 136px;
}