<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/typograph.css">
    <link rel="stylesheet" href="../../static/css/variables.css">
    <link rel="stylesheet" href="../../static/css/components.css">
    <title>Flash</title>
    <style>
        .message-system{
            padding: 1rem 8rem;
            margin-block: 1rem;
        }

        .display-block{
            animation-name: message;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }

        @keyframes message {

            from{
                display: block;
            }

            to{
                display: none;
            }
        }

    </style>
</head>
<body>
    <div class="div-messages">
        
        <div class="message-green message-system forest-300 bg-power-Gray-200 display-block">
            Cadastro realizado com SUCESSO!
        </div>
    </div>

</body>
</html>