<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash</title>
    <style>
        .message-system{
            padding: 8rem 1rem;
        }
    </style>
</head>
<body>
    <div class="message-green message-system forest-300 bg-power-Gray-200">
        Cadastro realizado com SUCESSO!
    </div>
    
    <div class="message-orange message-system secundary-700 bg-power-Gray-200">
        Por favor preencha todos os campos
    </div>

    <div class="message-orange message-system secundary-700 bg-power-Gray-200">
        Dados inseridos incorretos
    </div>

</body>
</html>