{% extends "base2.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/selecao.css">
    <title>Seleção | EcoConsumo</title>
{% endblock %}

{% block main %}
    <div class="content">
        <main class="container">
            <div class="row">
                <div class="col-6">
                    <div class="title-apresentation position-relative">
                        <h1>Vamos ajudar o nosso meio ambiente juntos! EcoConsumo</h1>
                        <img class="position-absolute t-100" src="../../static/imgs/line.svg" alt="">
                    </div>
                    <p>Comece agora sua experiência... lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <div class="link-selecao">
                        <a class="doador-forest" href="">Doador</a>
                        <a class="doador-secundary" href="">Empresa</a>
                    </div>
                </div>


            </div>


            
        </main>




    </div>

{% endblock %}
