<!DOCTYPE html>
<html>
<head>  
  {% block head %}{% endblock %}
  
  <title> EcoConsumo </title>
  <link rel="icon" href="{{ url_for('static', filename='assets/EcoFavicon.png') }}" type="image/x-icon">
</head>
<body>
  <div class="base">
    <header>
        <h1><a href="{{url_for('index')}}">EcoConsumo</a></h1>
        <nav>
          <ul>
            {% if not current_user.is_authenticated %}
              <li><a href="{{url_for('login')}}">Login</a></li>
              <li><a href="{{url_for('cadastro')}}">Cadastro</a></li>
            {% else %}
                <li><a href="{{url_for('usuario.perfil')}}">Perfil</a></li>
                <li><a href="{{url_for('entrega.recovery')}}">Entregas</a></li>
                <li><a href="{{url_for('premio.recovery')}}">Premios</a></li>
                <li><a href="{{url_for('premio.solicitados_recovery')}}">Premios Solicitados</a></li>
              {% if current_user.tipo_usuario == 'Doador' %}
                <li><a href="{{url_for('empresa.recovery')}}">Empresas</a></li>
              {% elif current_user.tipo_usuario == 'Empresa' %}
                <li><a href="{{url_for('doador.recovery')}}">Vinculos</a></li>
              {% elif current_user.tipo_usuario == 'Administrador' %}
                <li><a href="{{url_for('doador.recovery')}}">Doadores</a></li>
                <li><a href="{{url_for('empresa.recovery')}}">Empresas</a></li>
                <li><a href="{{url_for('administrador.recovery')}}">Admnistradores</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  {% block conteudo %}{% endblock %}
  
</body>
</html>
