<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body>
  <div class="container center">
    <header>
      <div class="header">
        <nav>
          <ul>
          
            <li><a href="{{url_for('home')}}">Pagina inicial</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('cadastro')}}">Cadastro</a></li>
            <li><a href="{{url_for('buscar')}}">Explorar</a></li>
            <li><a href="{{url_for('perfil')}}">Perfil</a></li>
            
          </ul>
        </nav>
      </div>
    </header>

    <section class="hero">
        <h1>EcoConsumo</h1> <hr>

        {% block conteudo %}
        {% endblock %}


    </section>
  </div>
  
</body>
</html>