{% extends "base.html" %}

{% block titulo %}BUSCAR{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
{% endblock %}

{% block conteudo %}
  <div class='buscar'>
    <h2>Explorar</h2>
    <ul>
    {% for user in users %}
      <a href="{{ url_for('buscaperfil', id=user.id) }}">
      <li class='usuario'>
        <ul>
          <li>ID: {{ user.id }} </li>
          <li>Nome: {{ user.nome }} </li>
          
          {% if user.get('pontos') %}
            <li>Pontuação: {{ user.pontos }} </li>
          {% else %}
            <li>Sem vinculo</li>
          {% endif %}
          
        </ul>
      </li>
      </a>
    {% endfor %}
    </ul>
  </div>
{% endblock %}