{% extends "base.html" %}

{% block titulo %}CADASTRO{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block conteudo %}
  <div class='cadastro'>
    <h2>Cadastro.</h2>
    <form action="/cadastro" method='post'>
      <input class="input_rad" type='radio' name='tipo' value='doador' required>
      <label for='doador'>Doador</label>
      <input class="input_rad" type='radio' name='tipo' value='instituicao' required>
      <label for='doador'>Instituição</label><br>
      
      <input class="input" placeholder='CPF/CNPJ' type='cp' name='cp' required><br>
      <input class="input" placeholder='Nome' type='nome' name='nome' required><br>
      <input class="input" placeholder='Email' type='email' name='email' required><br>
      <input class="input" placeholder='Senha' type='password' name='senha' required><br>
      
      <input class="submit" type='submit' value='Cadastrar'>
    </form>
  </div>
{% endblock %}