{% extends "base.html" %}

{% block head %}
    <title>Perfil Empresa</title>
    <link rel="stylesheet" href="../static/css/perfil.css">

{% endblock %}
<div class="contents">

    {% block header_current %}
        <div class="d-flex column-gap-4 align-items-center">
            <a href="#" class="header-element secundary-600">
                <img src="../static/imgs/sc-icon _business outline.svg" alt="">
                <p class="">Perfil</p>
            </a>
        </div>
    {% endblock %}

    {% block main %}
        <main class="">
            <section class="sec-perfil-info bg-raphosedy-700  d-flex align-items-end">
                <div class="content-perfil container position-relative">
                    <figure class="perfil-ecoconsumo position-absolute w-content rounded-circle bg-power-Gray-200 p-56">
                        <img class="" src="../static/imgs/img_perfil.svg" alt="">
                    </figure>
                    <h1 class="title-ecoconsumo fw-semibold secundary-600">{{ user.nome }}</h1>
                </div>
            </section>

            <section class="container pb-64 mt-5 pt-5">
                <section class="row align-items-center column-gap-4 pb-5">
                    <div class="col d-flex border-black border rounded-4 flex-column p-3 row-gap-3">
                        <div class="py-1 border-bottom border-black">
                            <p class="g-font">Email</p>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="py-1 border-bottom border-black">
                            <p class="g-font">Telefone</p>
                            <p>{{ user.phone }}</p>
                        </div>
                        <div class="py-1 border-bottom border-black">
                            <p class="g-font">CNPJ</p>
                            <p>{{ user.cnpj }}</p>
                        </div>
                        <div class="py-1 border-bottom border-black">
                            <p class="g-font pb-1">Endereço</p>
                            <p>{{ user.address_street }}, {{ user.address_number }}</p>
                            <p>Bairro {{ user.address_neighborhood }}</p>
                            <p>CEP {{ user.address_cep }}</p>
                        </div>
                    </div>

                    <div class="col mapa"></div>
                </section>

                <a href="#" class="forest-700 ">
                    <i class="fa-solid fa-arrow-down perfil-arrow-down pe-4"></i>
                    <h5 class="d-inline-block align-top fw-medium">Metas e premiações</h5>
                </a>

            </section>

            <section class="sec-metas container py-64 power-Gray-800">
                <h2 class="forest-700 pb-32 fw-bold">Metas</h2>

                <ul class="row row-gap-4 column-gap-4">
                    <li class="col-flex card-meta px-0 rounded-4 ">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>

                    <li class="col-flex card-meta px-0 rounded-4">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>

                    <li class="col-flex card-meta px-0 rounded-4">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>

                    <li class="col-flex card-meta px-0 rounded-4">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>

                    <li class="col-flex card-meta px-0 rounded-4">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>

                    <li class="col-flex card-meta px-0 rounded-4">
                        <img class="card-img-top p-5 bg-raphosedy-700 rounded-top-4 " src="../static/imgs/papelao-icon.svg" alt="">
                        <div class="card-body p-4">
                            <h5 class="forest-700">KG Papelões</h5>
                            <p>Papelão</p>
                            <p>1KG - 1 Ponto</p>
                            <p>Recebe-se Quilos de papelões, na qual cada Quilo vale 1 ponto</p>
                        </div>
                    </li>
                </ul>

            </section>

            <section class="bg-power-Gray-300 py-64">
                <div class="content-premiacao container">
                    <h2 class="forest-700 fw-bold mb-3">Premiações</h2>
                    <ul class="row gy-32 row-gap-4 power-Gray-800">
                        <li class="col-flex-2 card-premio d-flex column-gap-4 p-2 border border-black rounded-3">
                            <img class="bg-raphosedy-700 p-40 rounded-4" src="../static/imgs/Cashpayment.svg" alt="">
                            <div class="conteudo d-flex flex-column row-gap-3">
                                <h5 class="border-bottom border-black">10 Reais</h5>
                                <p class="gg-font">Dinheiro</p>
                                <p class="g-font">Requer 10 pontos. Com essa pontuação, você conquista 10 reais.</p>
                            </div>
                        </li>
                        <li class="col-flex-2 card-premio d-flex column-gap-4 p-2 border border-black rounded-3">
                            <img class="bg-raphosedy-700 p-40 rounded-4" src="../static/imgs/Cashpayment.svg" alt="">
                            <div class="conteudo d-flex flex-column row-gap-3">
                                <h5 class="border-bottom border-black">10 Reais</h5>
                                <p class="gg-font">Dinheiro</p>
                                <p class="g-font">Requer 10 pontos. Com essa pontuação, você conquista 10 reais.</p>
                            </div>
                        </li>
                        <li class="col-flex-2 card-premio d-flex column-gap-4 p-2 border border-black rounded-3">
                            <img class="bg-raphosedy-700 p-40 rounded-4" src="../static/imgs/Cashpayment.svg" alt="">
                            <div class="conteudo d-flex flex-column row-gap-3">
                                <h5 class="border-bottom border-black">10 Reais</h5>
                                <p class="gg-font">Dinheiro</p>
                                <p class="g-font">Requer 10 pontos. Com essa pontuação, você conquista 10 reais.</p>
                            </div>
                        </li>
                        <li class="col-flex-2 card-premio d-flex column-gap-4 p-2 border border-black rounded-3">
                            <img class="bg-raphosedy-700 p-40 rounded-4" src="../static/imgs/Cashpayment.svg" alt="">
                            <div class="conteudo d-flex flex-column row-gap-3">
                                <h5 class="border-bottom border-black">10 Reais</h5>
                                <p class="gg-font">Dinheiro</p>
                                <p class="g-font">Requer 10 pontos. Com essa pontuação, você conquista 10 reais.</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>

        </main>


    {% endblock %}
</div>