<header class="header-ecoconsumo bg-raphosedy-700">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="{{url_for('basic.selecao')}}"><img src="../static/imgs/Logo Lateral.svg" alt=""></a>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="scroll-massages">
            {% for category, msg in messages %}
            <p class="{{ category }} message-system display-block-animation bg-power-Gray-200 rounded-3  mb-1">
                {{ msg }} 
            </p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="d-flex column-gap-4 align-items-center">
            <a href="{{url_for('doador.cadastro')}}"><img src="../static/imgs/Frame 17 - Green.svg" alt=""></a>
            <a href="{{url_for('doador.login')}}"><img src="../static/imgs/Frame 15 - white.svg" alt=""></a>
        </div>
    </div>
</header>