{% extends "base.html" %}

{% block head %}
<title> titulo </title>
{% endblock %}

{% block conteudo %}
<div class="recovery">
  <table>
    <thead>
      <tr>
        <th> Nome </th>
        <th> Email </th>
        <th> Nivel </th>
      </tr>
    </thead>
    <tbody>
      {% for administrador in administradores %}
      <tr>
        <td> {{ administrador.nome }} </td>
        <td> {{ administrador.email }} </td>
        <td> {{ administrador.nivel_acesso }} </td>
        <td> <a href="{{ url_for('usuario.perfil', id=administrador.id) }}">PERFIL</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}